/* Basics */

* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html { font-size: 14px; }

body
{
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.5em;
  overflow: auto;
  word-wrap: break-word;
}

h1 { font-size: 2em; }

h2 { font-size: 1.6em; }

h3 { font-size: 1.4em; }

h4 { font-size: 1.25em; }

h5 { font-size: 1.1em; }

h6 { font-size: 0.9em; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6
{
  font-family: 'Helvetica Neue', Helvetica, Tahoma, Arial, sans-serif;
  font-weight: bold;
  line-height: 1.6em;
  margin: 0;
  vertical-align: bottom;
}

p
{
  margin-bottom: 1em;
  margin-top: 1em;
}

a
{
  color: #1A65AC;
  text-decoration: none;
}

a:hover
{
  text-decoration: underline;
}

b, .bold { font-weight: bold !important; }

i, .italic { font-style: italic !important; }

s, .strike { text-decoration: line-through !important; }

u, .underline { text-decoration: underline !important; }

center,
.text-center { text-align: center !important; }

.text-left { text-align: left !important; }

.text-right { text-align: right !important; }

hr
{
  border-style: solid;
  border-width: 0.1em;
  border-bottom: 0;
  height: 0;
}

/*
 * Grid system
 *
 * 12 Columns
 *
 * Fluid:   Any;
 * Small:   720px+;
 * Medium:  960px+;
 * Large:   1280px+;
 *
 */

/* Clearfix: http://nicolasgallagher.com/micro-clearfix-hack */
.container:before, .container:after,
.row:before, .row:after
{
    content: ' '; /* 1 */
    display: table; /* 2 */
}

.container:after, .row:after { clear: both; }

.container, .row { *zoom: 1; }

.container
{
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.container .row
{
  margin-left: 0;
  margin-right: 0;
}

.row .row
{
  margin-left: -1em;
  margin-right: -1em;
}

.col-f-1, .col-f-2, .col-f-3, .col-f-4, .col-f-5, .col-f-6,
.col-f-7, .col-f-8, .col-f-9, .col-f-10, .col-f-11, .col-f-12,
.col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6,
.col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12,
.col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6,
.col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12,
.col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6,
.col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12
{
  position: relative;

  width: auto;
}


.col-f-1, .col-f-2, .col-f-3, .col-f-4, .col-f-5, .col-f-6,
.col-f-7, .col-f-8, .col-f-9, .col-f-10, .col-f-11, .col-f-12
{
  float: left;
  padding-left: 1em;
  padding-right: 1em;
}

.col-f-1  { width: 8.3333333333333%; }
.col-f-2  { width: 16.666666666667%; }
.col-f-3  { width: 25%; }
.col-f-4  { width: 33.333333333333%; }
.col-f-5  { width: 41.666666666667%; }
.col-f-6  { width: 50%; }
.col-f-7  { width: 58.333333333333%; }
.col-f-8  { width: 66.666666666667%; }
.col-f-9  { width: 75%; }
.col-f-10 { width: 83.333333333333%; }
.col-f-11 { width: 91.666666666667%; }
.col-f-12 { width: 100%; }

.col-f-ps-1  { left: 8.3333333333333%; }
.col-f-ps-2  { left: 16.666666666667%; }
.col-f-ps-3  { left: 25%; }
.col-f-ps-4  { left: 33.333333333333%; }
.col-f-ps-5  { left: 41.666666666667%; }
.col-f-ps-6  { left: 50%; }
.col-f-ps-7  { left: 58.333333333333%; }
.col-f-ps-8  { left: 66.666666666667%; }
.col-f-ps-9  { left: 75%; }
.col-f-ps-10 { left: 83.333333333333%; }
.col-f-ps-11 { left: 91.666666666667%; }

.col-f-pl-1  { right: 8.3333333333333%; }
.col-f-pl-2  { right: 16.666666666667%; }
.col-f-pl-3  { right: 25%; }
.col-f-pl-4  { right: 33.333333333333%; }
.col-f-pl-5  { right: 41.666666666667%; }
.col-f-pl-6  { right: 50%; }
.col-f-pl-7  { right: 58.333333333333%; }
.col-f-pl-8  { right: 66.666666666667%; }
.col-f-pl-9  { right: 75%; }
.col-f-pl-10 { right: 83.333333333333%; }
.col-f-pl-11 { right: 91.666666666667%; }

.col-f-pf-1  { margin-left: 8.3333333333333%; }
.col-f-pf-2  { margin-left: 16.666666666667%; }
.col-f-pf-3  { margin-left: 25%; }
.col-f-pf-4  { margin-left: 33.333333333333%; }
.col-f-pf-5  { margin-left: 41.666666666667%; }
.col-f-pf-6  { margin-left: 50%; }
.col-f-pf-7  { margin-left: 58.333333333333%; }
.col-f-pf-8  { margin-left: 66.666666666667%; }
.col-f-pf-9  { margin-left: 75%; }
.col-f-pf-10 { margin-left: 83.333333333333%; }
.col-f-pf-11 { margin-left: 91.666666666667%; }

.col-f-sf-1  { margin-right: 8.3333333333333%; }
.col-f-sf-2  { margin-right: 16.666666666667%; }
.col-f-sf-3  { margin-right: 25%; }
.col-f-sf-4  { margin-right: 33.333333333333%; }
.col-f-sf-5  { margin-right: 41.666666666667%; }
.col-f-sf-6  { margin-right: 50%; }
.col-f-sf-7  { margin-right: 58.333333333333%; }
.col-f-sf-8  { margin-right: 66.666666666667%; }
.col-f-sf-9  { margin-right: 75%; }
.col-f-sf-10 { margin-right: 83.333333333333%; }
.col-f-sf-11 { margin-right: 91.666666666667%; }

@media (min-width: 740px)
{
  .container  { width: 720px; }

  .col-s-1, .col-s-2, .col-s-3, .col-s-4, .col-s-5, .col-s-6,
  .col-s-7, .col-s-8, .col-s-9, .col-s-10, .col-s-11, .col-s-12
  {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .col-s-1  { width: 8.3333333333333%; }
  .col-s-2  { width: 16.666666666667%; }
  .col-s-3  { width: 25%; }
  .col-s-4  { width: 33.333333333333%; }
  .col-s-5  { width: 41.666666666667%; }
  .col-s-6  { width: 50%; }
  .col-s-7  { width: 58.333333333333%; }
  .col-s-8  { width: 66.666666666667%; }
  .col-s-9  { width: 75%; }
  .col-s-10 { width: 83.333333333333%; }
  .col-s-11 { width: 91.666666666667%; }
  .col-s-12 { width: 100%; }

  .col-s-ps-1  { left: 8.3333333333333%; }
  .col-s-ps-2  { left: 16.666666666667%; }
  .col-s-ps-3  { left: 25%; }
  .col-s-ps-4  { left: 33.333333333333%; }
  .col-s-ps-5  { left: 41.666666666667%; }
  .col-s-ps-6  { left: 50%; }
  .col-s-ps-7  { left: 58.333333333333%; }
  .col-s-ps-8  { left: 66.666666666667%; }
  .col-s-ps-9  { left: 75%; }
  .col-s-ps-10 { left: 83.333333333333%; }
  .col-s-ps-11 { left: 91.666666666667%; }

  .col-s-pl-1  { right: 8.3333333333333%; }
  .col-s-pl-2  { right: 16.666666666667%; }
  .col-s-pl-3  { right: 25%; }
  .col-s-pl-4  { right: 33.333333333333%; }
  .col-s-pl-5  { right: 41.666666666667%; }
  .col-s-pl-6  { right: 50%; }
  .col-s-pl-7  { right: 58.333333333333%; }
  .col-s-pl-8  { right: 66.666666666667%; }
  .col-s-pl-9  { right: 75%; }
  .col-s-pl-10 { right: 83.333333333333%; }
  .col-s-pl-11 { right: 91.666666666667%; }

  .col-s-pf-1  { margin-left: 8.3333333333333%; }
  .col-s-pf-2  { margin-left: 16.666666666667%; }
  .col-s-pf-3  { margin-left: 25%; }
  .col-s-pf-4  { margin-left: 33.333333333333%; }
  .col-s-pf-5  { margin-left: 41.666666666667%; }
  .col-s-pf-6  { margin-left: 50%; }
  .col-s-pf-7  { margin-left: 58.333333333333%; }
  .col-s-pf-8  { margin-left: 66.666666666667%; }
  .col-s-pf-9  { margin-left: 75%; }
  .col-s-pf-10 { margin-left: 83.333333333333%; }
  .col-s-pf-11 { margin-left: 91.666666666667%; }

  .col-s-sf-1  { margin-right: 8.3333333333333%; }
  .col-s-sf-2  { margin-right: 16.666666666667%; }
  .col-s-sf-3  { margin-right: 25%; }
  .col-s-sf-4  { margin-right: 33.333333333333%; }
  .col-s-sf-5  { margin-right: 41.666666666667%; }
  .col-s-sf-6  { margin-right: 50%; }
  .col-s-sf-7  { margin-right: 58.333333333333%; }
  .col-s-sf-8  { margin-right: 66.666666666667%; }
  .col-s-sf-9  { margin-right: 75%; }
  .col-s-sf-10 { margin-right: 83.333333333333%; }
  .col-s-sf-11 { margin-right: 91.666666666667%; }
}

@media (min-width: 960px)
{
  .container  { width: 940px; }

  .col-m-1, .col-m-2, .col-m-3, .col-m-4, .col-m-5, .col-m-6,
  .col-m-7, .col-m-8, .col-m-9, .col-m-10, .col-m-11, .col-m-12
  {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .col-m-1  { width: 8.3333333333333%; }
  .col-m-2  { width: 16.666666666667%; }
  .col-m-3  { width: 25%; }
  .col-m-4  { width: 33.333333333333%; }
  .col-m-5  { width: 41.666666666667%; }
  .col-m-6  { width: 50%; }
  .col-m-7  { width: 58.333333333333%; }
  .col-m-8  { width: 66.666666666667%; }
  .col-m-9  { width: 75%; }
  .col-m-10 { width: 83.333333333333%; }
  .col-m-11 { width: 91.666666666667%; }
  .col-m-12 { width: 100%; }

  .col-m-ps-1  { left: 8.3333333333333%; }
  .col-m-ps-2  { left: 16.666666666667%; }
  .col-m-ps-3  { left: 25%; }
  .col-m-ps-4  { left: 33.333333333333%; }
  .col-m-ps-5  { left: 41.666666666667%; }
  .col-m-ps-6  { left: 50%; }
  .col-m-ps-7  { left: 58.333333333333%; }
  .col-m-ps-8  { left: 66.666666666667%; }
  .col-m-ps-9  { left: 75%; }
  .col-m-ps-10 { left: 83.333333333333%; }
  .col-m-ps-11 { left: 91.666666666667%; }

  .col-m-pl-1  { right: 8.3333333333333%; }
  .col-m-pl-2  { right: 16.666666666667%; }
  .col-m-pl-3  { right: 25%; }
  .col-m-pl-4  { right: 33.333333333333%; }
  .col-m-pl-5  { right: 41.666666666667%; }
  .col-m-pl-6  { right: 50%; }
  .col-m-pl-7  { right: 58.333333333333%; }
  .col-m-pl-8  { right: 66.666666666667%; }
  .col-m-pl-9  { right: 75%; }
  .col-m-pl-10 { right: 83.333333333333%; }
  .col-m-pl-11 { right: 91.666666666667%; }

  .col-m-pf-1  { margin-left: 8.3333333333333%; }
  .col-m-pf-2  { margin-left: 16.666666666667%; }
  .col-m-pf-3  { margin-left: 25%; }
  .col-m-pf-4  { margin-left: 33.333333333333%; }
  .col-m-pf-5  { margin-left: 41.666666666667%; }
  .col-m-pf-6  { margin-left: 50%; }
  .col-m-pf-7  { margin-left: 58.333333333333%; }
  .col-m-pf-8  { margin-left: 66.666666666667%; }
  .col-m-pf-9  { margin-left: 75%; }
  .col-m-pf-10 { margin-left: 83.333333333333%; }
  .col-m-pf-11 { margin-left: 91.666666666667%; }

  .col-m-sf-1  { margin-right: 8.3333333333333%; }
  .col-m-sf-2  { margin-right: 16.666666666667%; }
  .col-m-sf-3  { margin-right: 25%; }
  .col-m-sf-4  { margin-right: 33.333333333333%; }
  .col-m-sf-5  { margin-right: 41.666666666667%; }
  .col-m-sf-6  { margin-right: 50%; }
  .col-m-sf-7  { margin-right: 58.333333333333%; }
  .col-m-sf-8  { margin-right: 66.666666666667%; }
  .col-m-sf-9  { margin-right: 75%; }
  .col-m-sf-10 { margin-right: 83.333333333333%; }
  .col-m-sf-11 { margin-right: 91.666666666667%; }
}

@media (min-width: 1280px)
{
  .container  { width: 1260px; }

  .col-l-1, .col-l-2, .col-l-3, .col-l-4, .col-l-5, .col-l-6,
  .col-l-7, .col-l-8, .col-l-9, .col-l-10, .col-l-11, .col-l-12
  {
    float: left;
    padding-left: 1em;
    padding-right: 1em;
  }

  .col-l-1  { width: 8.3333333333333%; }
  .col-l-2  { width: 16.666666666667%; }
  .col-l-3  { width: 25%; }
  .col-l-4  { width: 33.333333333333%; }
  .col-l-5  { width: 41.666666666667%; }
  .col-l-6  { width: 50%; }
  .col-l-7  { width: 58.333333333333%; }
  .col-l-8  { width: 66.666666666667%; }
  .col-l-9  { width: 75%; }
  .col-l-10 { width: 83.333333333333%; }
  .col-l-11 { width: 91.666666666667%; }
  .col-l-12 { width: 100%; }

  .col-l-ps-1  { left: 8.3333333333333%; }
  .col-l-ps-2  { left: 16.666666666667%; }
  .col-l-ps-3  { left: 25%; }
  .col-l-ps-4  { left: 33.333333333333%; }
  .col-l-ps-5  { left: 41.666666666667%; }
  .col-l-ps-6  { left: 50%; }
  .col-l-ps-7  { left: 58.333333333333%; }
  .col-l-ps-8  { left: 66.666666666667%; }
  .col-l-ps-9  { left: 75%; }
  .col-l-ps-10 { left: 83.333333333333%; }
  .col-l-ps-11 { left: 91.666666666667%; }

  .col-l-pl-1  { right: 8.3333333333333%; }
  .col-l-pl-2  { right: 16.666666666667%; }
  .col-l-pl-3  { right: 25%; }
  .col-l-pl-4  { right: 33.333333333333%; }
  .col-l-pl-5  { right: 41.666666666667%; }
  .col-l-pl-6  { right: 50%; }
  .col-l-pl-7  { right: 58.333333333333%; }
  .col-l-pl-8  { right: 66.666666666667%; }
  .col-l-pl-9  { right: 75%; }
  .col-l-pl-10 { right: 83.333333333333%; }
  .col-l-pl-11 { right: 91.666666666667%; }

  .col-l-pf-1  { margin-left: 8.3333333333333%; }
  .col-l-pf-2  { margin-left: 16.666666666667%; }
  .col-l-pf-3  { margin-left: 25%; }
  .col-l-pf-4  { margin-left: 33.333333333333%; }
  .col-l-pf-5  { margin-left: 41.666666666667%; }
  .col-l-pf-6  { margin-left: 50%; }
  .col-l-pf-7  { margin-left: 58.333333333333%; }
  .col-l-pf-8  { margin-left: 66.666666666667%; }
  .col-l-pf-9  { margin-left: 75%; }
  .col-l-pf-10 { margin-left: 83.333333333333%; }
  .col-l-pf-11 { margin-left: 91.666666666667%; }

  .col-l-sf-1  { margin-right: 8.3333333333333%; }
  .col-l-sf-2  { margin-right: 16.666666666667%; }
  .col-l-sf-3  { margin-right: 25%; }
  .col-l-sf-4  { margin-right: 33.333333333333%; }
  .col-l-sf-5  { margin-right: 41.666666666667%; }
  .col-l-sf-6  { margin-right: 50%; }
  .col-l-sf-7  { margin-right: 58.333333333333%; }
  .col-l-sf-8  { margin-right: 66.666666666667%; }
  .col-l-sf-9  { margin-right: 75%; }
  .col-l-sf-10 { margin-right: 83.333333333333%; }
  .col-l-sf-11 { margin-right: 91.666666666667%; }
}

.show-grid [class^='col-']
{
  padding-left: 0;
  padding-right: 0;
  border-left: 1em solid #3e3;
  border-right: 1em solid #e33;
}

/*
 * visibility
 */
.visible-s,
.visible-m,
.visible-l,
.hidden
{
  display: none !important;
}

.visible          { display: block !important; }
table.visible { display: table !important; }
tr.visible        { display: table-row !important; }
th.visible,
td.visible       { display: table-cell !important; }

@media (min-width: 740px)
{
  .visible-s          { display: block !important; }
  table.visible-s { display: table !important; }
  tr.visible-s        { display: table-row !important; }
  th.visible-s,
  td.visible-s       { display: table-cell !important; }

  .hidden-s         { display: none !important; }
}

@media (min-width: 960px)
{
  .visible-m          { display: block !important; }
  table.visible-m { display: table !important; }
  tr.visible-m        { display: table-row !important; }
  th.visible-m,
  td.visible-m       { display: table-cell !important; }

  .hidden-m         { display: none !important; }
}

@media (min-width: 1280px)
{
  .visible-l          { display: block !important; }
  table.visible-l { display: table !important; }
  tr.visible-l        { display: table-row !important; }
  th.visible-l,
  td.visible-l       { display: table-cell !important; }

  .hidden-l         { display: none !important; }
}

/*
 * Levels
 */

.raise1
{
  box-shadow: 0 0.1em 0.1em 0 rgba(0,0,0,0.25);
  position: relative;
  z-index: 1;
}

.raise2
{
  box-shadow: 0 0.25em 0.25em 0 rgba(0,0,0,0.25);
  position: relative;
  z-index: 2;
}

.raise3
{
  box-shadow: 0 0.4em 0.4em 0 rgba(0,0,0,0.25);
  position: relative;
  z-index: 3;
}

.raise4
{
  box-shadow: 0 0.6em 0.6em 0 rgba(0,0,0,0.25);
  position: relative;
  z-index: 4;
}

.raise5
{
  box-shadow: 0 0.8em 0.8em 0 rgba(0,0,0,0.25);
  position: relative;
  z-index: 5;
}

/*
 * Buttons
 */

.btn
{
  background-color: #E1E1E1;
  border: 0;
  border-radius: 0.2em;
  color: #111;
  cursor: pointer;

  position: relative;
  top: 0;
  display: inline-block;
  font-weight: bold;
  line-height: 1em;

  margin-bottom: 0.1em;
  margin-top: 0.1em;

  padding: 0.5em;

  text-decoration: none;
  vertical-align: middle;

  opacity: 1;

  box-shadow: none;
  z-index: 0;

  transition-property: color,background-color;
  transition-timing-function: linear;
  transition-duration: 0.1s;
}

.btn:hover
{
  background-color: #bbb;
  text-decoration: none;
}

.btn:active,
.btn.active
{
  background-color: #aaa;

  transition-duration: 0s;
}

.btn-s { font-size: 0.65em; }
.btn-m { font-size: 0.85em; }
.btn-l { font-size: 1.5em; }
.btn-xl { font-size: 1.75em; }

.btn-grp
{
  display: inline-block;
  vertical-align: middle;
}

.btn-grp .btn
{
  border-radius: 0;
  float: left;
}

.btn-grp .btn:first-child
{
  border-bottom-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
}

.btn-grp .btn:last-child
{
  border-bottom-right-radius: 0.2em;
  border-top-right-radius: 0.2em;
}

/*
 * Labels
 */

.label
{
  color: #333;
  display: inline;
  padding: 0.1em 0.2em;
}

/*
 * Messages
 */

.msg
{
  background-color: #E1E1E1;
  border-radius: 0.2em;
  color: #111;

  margin-top: 0.5em;
  margin-bottom: 0.5em;

  padding: 0.5em 1em;
}

/*
 * Panels
 *
 */

.panel
{
  background-color: #E1E1E1;
  border-radius: 0.2em;
  color: #111;

  margin-top: 1em;
  margin-bottom: 1em;

  padding: 0.2em;
}

.panel .panel-header,
.panel .panel-body,
.panel .panel-footer
{
  padding: 0.5em;
}

.panel .panel-header
{
  font-weight: bold;
}

.panel .panel-body
{
  color: #333;
  background-color: #FAFAFA;
  border-radius: 0.2em;
}

/*
 * Tables
 *
 */

.table
{
  width: 100%;
}

.table th,
.table td
{
  padding-bottom: 0.1em;
  padding-left: 0.2em;
  padding-right: 0.2em;
  padding-top: 0.1em;
  text-align: left;
}

.table thead
{
  border-bottom-width: 0.2em;
  border-bottom-style: solid;
}

.table tbody tr
{
  border-bottom-width: 0.1em;
  border-bottom-style: solid;
}

/*
 * Input
 *
 */

.ipt
{
}

.ipt.ipt-field
{
  background-color: #FAFAFA;
  border: 1px solid #E1E1E1;
  border-radius: 0.2em;
  color: #333;
  margin: 0.1em 0;
  padding: 0.1em 0.2em;
}

.ipt.ipt-field[disabled] { background-color: #E1E1E1; }

.ipt.ipt-fill { width: 100%; }

/* Placeholder text colour */
.ipt.ipt-field::input-placeholder { color: #666; }
.ipt.ipt-field:-moz-input-placeholder { color: #666; }
.ipt.ipt-field::-moz-input-placeholder { color: #666; }
.ipt.ipt-field::-ms-input-placeholder { color: #666; }
.ipt.ipt-field::-webkit-input-placeholder { color: #666; }

/*
.ipt.ipt-check { display: none; }
*/
.ipt.ipt-check:before,
.ipt.ipt-radio:before
{
  background-color: #E1E1E1;
  border-color: #333;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.2em;
  content: '';
  display: inline-block;
  height: 13px;
  width: 13px;

  transition-property: color,background-color, border-width;
  transition-timing-function: linear;
  transition-duration: 0.1s;
}

.ipt.ipt-check:checked:before,
.ipt.ipt-radio:checked:before
{
  background-color: #FAFAFA;
  border-width: 4px;
}

.ipt.ipt-radio:before
{
  border-radius: 1em;
}

/* Theming */

.btn,
.msg,
.panel
{
  color: #333;
  background-color: #E1E1E1;
}

.btn-blue,
.msg-blue,
.panel-blue,
.table tr.blue
{
  color: #eee;
  background-color: #3296C8;
}

.btn-green,
.msg-green,
.panel-green,
.table tr.green
{
  background-color: #19C832;
}
.btn-yellow,
.msg-yellow,
.panel-yellow,
.table tr.yellow
{
  background-color: #E1E119;
}

.btn-red,
.msg-red,
.panel-red,
.table tr.red
{
  color: #eee;
  background-color: #E13219;
}

/* Buttons */

.btn:hover      { background-color: #aaa; }
.btn:active,
.btn.active     { background-color: #bbb; }

.btn-blue:hover    { background-color: #2C83AE; }
.btn-blue:active,
.btn-blue.active   { background-color: #35A0D5; }

.btn-green:hover   { background-color: #16AE2C; }
.btn-green:active,
.btn-green.active  { background-color: #1BD535; }

.btn-yellow:hover  { background-color: #C7C716; }
.btn-yellow:active,
.btn-yellow.active { background-color: #EEEE1A; }

.btn-red:hover     { background-color: #C72C16; }
.btn-red:active,
.btn-red.active    { background-color: #EE351A; }